<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Document
      {{ title }}
    </title>

    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    {{ content }}

    <footer>
      <p>
        <em
          >Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em
        >
      </p>
    </footer>
  </body>
</html>
