<footer class="mt-12 border-t border-solid border-gray-500 py-6">
  <div class="flex justify-between">
    <p>
      <em
        >Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em
      >
    </p>

    <p>
      &copy; {% year %}
      {{ metadata.author.name }}
    </p>
  </div>
</footer>
