{% assign i18n = languages[lang] %}
<footer class="mt-12 border-t border-solid border-gray-500 py-6">
  <div class="flex justify-between text-md text-black/60">
    <p>
      &copy; {% year %} |
      {{ metadata.author.name }}
    </p>
    <p>
      {% if i18n.builtWith.position == 'before' %}
        {{ i18n.builtWith.value }}
      {% endif %}
      <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
      {% if i18n.builtWith.position == 'after' %}
        {{ i18n.builtWith.value }}
      {% endif %}
    </p>
  </div>
</footer>
